body {
  background-color: cadetblue;
}

h1 {
  color: white;
  text-align: center;
  font-family: verdana;
  font-size: 45px
}

h2 {
  color: white;
  font-family: verdana;
  text-align: left;
  padding-left: 55px;
}
.para {
  text-align: center;
}
p, li {
  font-family: verdana;
  font-size: 16px;
  }

li {
  text-indent: 25px;
  list-style-position: inside;
}
img {
  padding: 5px 50px 50px;

}

.img2{
  padding: 10px 20px 70px 50px;
}
.rotate {
  transform: rotate(90deg);
}

div.gallery {
  margin: 3px;
  float: left;
  width: 180px;
  color: white;
  font-family: verdana;
  font-size: 12px;
  
}


div.gallery img {
  width: 100%;
  height: 150px;
  }

div.desc {
  padding: 50px;
  text-align: center;
}

div.vid {
  margin: 5px;
  width: auto;
  color: white;
  font-family: verdana;
  font-size: 12px;
}
div.viddesc {
  padding-top: 50px;
  text-align: left;
}
